{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
      <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
  <!--Google Font - Work Sans-->
 
 
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700' rel='stylesheet' type='text/css'>
<div class="container">
  <div class="profile">
    <button class="profile__avatar" id="toggleProfile">
     <img src="{% static 'images/apple.png'%}" alt="Avatar" /> 
    </button>
    <form action = "" method="POST">
       {% csrf_token %}
    <div class="profile__form">
      <div class="profile__fields">
        <div class="field">
          <input type="text" id="fieldUser" class="input" name="uname" required pattern=.*\S.* />
          <label for="fieldUser" class="label">Username</label>
        </div>
        <div class="field">
          <input type="password" id="fieldPassword" class="input" name="password" required pattern=.*\S.* />
          <label for="fieldPassword" class="label">Password</label>
        </div>
        <div class="profile__footer">
          <input type = "submit" name="login" value="Login">
        </div>
      </div>
     </div>
     </form>
  </div>
</div>

  
    <script  src="{% static 'js/index.js'%}"></script>

</body>
</html>
